/* CSS for wrapper container */
.container {
  text-align: center;
  margin: 0 auto;
  max-width: 600px; /* Adjust the maximum width as needed */
  position: relative;
    left: 80px;
    width: calc(100% - 60px);
}

/* CSS for the table */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: center;
  padding: 8px;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* CSS for the end date input */
#ce_edate {
  width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  padding: 5px;
}

/* CSS for the exam date inputs */
input[type=date] {
  width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  padding: 5px;
}

/* CSS for the submit button */
input[type="submit"] {
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  display: block;
  margin: 0 auto;
}


