table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #333;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

input[type="submit"] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  margin-top: 16px;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}
.container {
  position: relative !important;
  left: 60px !important;
  width: calc(100% - 60px) !important;
}
