.header-button {
    width: fit-content;
    margin: 5px auto;
    border-radius: 5px 5px 10px 10px;
    cursor: pointer;
}

.header-button h2 {
    margin: 1px;
}

.header-button.active {
    background-color: brown;
}

.header-button.active h2 {
    color: white;
}

.Tablinks {
    display: flex;
    gap: 0;
    flex-wrap: wrap;
}